/* Incorporar la tipografía personalizada */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  /* Variables de tipografía */
  --titulo: "Nunito", sans-serif;
  --texto: "Cantarell", sans-serif;
  /* Variables de color */
  --color-primario: #5b89c3;
  --color-primario-oscuro: #11446e;
  --color-primario-claro: #9adede;
  --color-contraste-primario: #ffec88;
  --color-contraste-primario-oscuro: #f2d47f;
  --color-contraste-primario-claro: #ffdc96;
}

body {
  font-family: var(--texto);
  margin: 0;
  padding: 0;
}

.contacto {
  position: relative;
  height: 100vh;
  background-color: var(--color-primario-oscuro);
}

.contacto-main {
  margin-top: 15px;
}

.contacto-hero {
  text-align: center;
  padding: 2rem;
  background-color: #fbe5a9;
  color: var(--color-primario);
}

.contacto-hero h1 {
  margin-top: 10px;
  font-family: var(--titulo);
  font-size: 3rem;
  margin-bottom: 20px;
}

.contacto-hero p {
  font-size: 1.5rem;
  font-family: var(--texto);
  padding: 0 305px;
}
.contacto-hero a {
  color: var(--color-primario);
}

.logoContacto {
  width: 90px;
  height: auto;
}

.cajasContacto {
  display: flex;
  flex-direction: row;
}

.contacto-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 50px 100px;
  color: white;
}

.contacto-info h2 {
  font-family: var(--titulo);
  color: white;
  font-size: 1.3em;
}

.contacto-info p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 15px 5px;
  font-family: var(--texto);
  font-size: 1.1em;
}

.contacto-info p ion-icon {
  margin-right: 9px; /* Espacio entre el icono y el texto */
  font-size: 1.3em; /* Tamaño del icono */
}

.mapa {
  border-radius: 10px;
  margin: 15px 5px;
  overflow: hidden;
}

.mapa iframe {
  width: 100%;
  height: 300px;
  border: 0;
}
.contacto-formulario {
  display: flex;
  justify-content: center; /* Centra el formulario horizontalmente */
  align-items: center; /* Centra el formulario verticalmente */
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 100px;
  color: white;
  width: 65%;
}

form {
  width: 100%; /* Asegura que el formulario ocupe todo el ancho de su contenedor */
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: transparent;
  color: white;
  font-family: var(--texto);
  font-size: 1.2em;
  transition: border-color 0.3s;
}

::placeholder {
  color: #cfcccc; /* Color del placeholder */
  opacity: 1; /* Por defecto es medio transparente */
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-bottom-color: var(--azulQQ);
}

.form-group textarea {
  resize: vertical;
}

.btnContacto {
  width: 150px;
  height: 55px;
  padding: 5px 10px;
  border: 2px solid white;
  background-color: transparent;
  font-family: var(--texto);
  font-size: 1.3em;
  border-radius: 8px;
  color: white;
}

.btnContacto:hover {
  background-color: var(--color-contraste-primario);
  color: var(--azulQQ);
  cursor: pointer;
}

/* faqs */

.logosFAQS {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}

.category {
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.category img {
  max-width: 100px;
  margin-bottom: 10px;
}

.category p {
  font-size: 1.2em;
}

.category:hover {
  transform: scale(1.05);
}

.faqs-content {
  display: none;
  text-align: center;
}

.faq-category {
  display: none;
}

#backToCategories {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}
