/* Incorporar la tipografía personalizada */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  /* Variables de tipografía */
  --titulo: "Nunito", sans-serif;
  --texto: "Cantarell", sans-serif;
  /* Variables de color */
  --color-primario: #5b89c3;
  --color-primario-oscuro: #11446e;
  --color-primario-claro: #9adede;
  --color-contraste-primario: #ffec88;
  --color-contraste-primario-oscuro: #f2d47f;
  --color-contraste-primario-claro: #ffdc96;
}

body {
  font-family: var(--texto);
  margin: 0;
  padding: 0;
  background-color: var(--color-primario-oscuro);
}

.hero {
  background: url("../archivos/index/fondo.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero-content {
  width: 850px;
  z-index: 1;
}

.hero h1 {
  font-family: var(--titulo);
  color: var(--color-contraste-primario);
  font-size: 4em;
  animation: fadeInDown 1s;
}

.hero p {
  font-size: 1.7em;
  animation: fadeInUp 1s;
}

.hero .search-bar {
  margin-top: 20px;
}

.hero .search-bar input {
  padding: 10px;
  font-size: 1rem;
  width: 70%;
  border: none;
  border-radius: 5px 0 0 5px;
}

.hero .search-bar button {
  padding: 10px;
  font-size: 1rem;
  background-color: var(--color-primario);
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.hero .search-bar button:hover {
  background-color: var(--color-primario-oscuro);
  transform: scale(1.05);
}

/* lupa */
/* Container for the search bar and results */
.search-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Style for the search input */
#searchQuery {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s;
}

#searchQuery:focus {
  border-color: var(--color-contraste-primario-claro);
}

/* Container for search results */
#searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 190px;
}

/* Style for the list of results */
#searchResults ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style for each result item */
#searchResults li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#searchResults li:last-child {
  border-bottom: none;
}

/* Style for the result links */
#searchResults li a {
  text-decoration: none;
  color: #333;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

#searchResults li a:hover {
  background: var(--color-contraste-primario);
  color: var(--color-primario);
}

/* Add some spacing around the search form */
form#searchForm {
  display: flex;
  align-items: center;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.featured-events {
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.featured-events h2 {
  font-size: 2.7em;
  animation: slideInLeft 1s;
  font-family: var(--titulo);
  color: var(--color-contraste-primario);
}

.carousel {
  display: flex;
  overflow-x: auto;
  padding: 30px 0;
}

.event-card {
  width: 300px;
  position: relative;
  background-color: white;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.event-card:hover {
  transform: translateY(-10px);
}

.event-card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.event-card h3 {
  font-size: 1.5rem;
  color: var(--color-primario-oscuro);
}

.event-card p {
  padding: 0 15px 15px;
  color: var(--color-primario-oscuro);
}

.event-card .event-number {
  font-family: var(--texto);
  position: absolute;
  top: -10px;
  left: 5px;
  color: var(--color-contraste-primario);
  font-size: 60px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.view-all-link {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--color-primario-claro);
  text-decoration: none;
  transition: color 0.3s;
  width: fit-content;
  margin: 0 auto;
}

.view-all-link:hover {
  color: var(--color-contraste-primario-claro);
}

.categories {
  text-align: center;
}

.categories h2 {
  font-size: 2.7em;
  animation: slideInLeft 1s;
  font-family: var(--titulo);
  color: var(--color-contraste-primario);
}

.category-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category {
  width: 250px;
  height: 150px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 5px;
  position: relative;
}

.category p {
  margin: 0;
  z-index: 1;
}

.category::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 0;
}

#cine {
  background-image: url("../archivos/index/cine.jpg");
}

#conciertos {
  background-image: url("../archivos/index/concierto.jpg");
}

#excursiones {
  background-image: url("../archivos/index/excursiones.jpg");
}

#viajes {
  background-image: url("../archivos/index/viajes.jpg");
}

#teatro {
  background-image: url("../archivos/index/teatro.jpg");
}

.llamado-accion {
  text-align: center;
  margin: 2em 0;
  padding: 2rem;
  background-color: var(--color-primario-claro);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-accion {
  font-family: var(--titulo);
  font-size: 2.4rem;
  color: var(--color-primario-oscuro);
  margin-bottom: 1rem;
}

.subtitulo-accion {
  font-family: var(--subtitulo);
  font-size: 1.3em;
  color: black;
  margin-bottom: 2rem;
}

.btn-accion {
  font-family: var(--texto);
  font-size: 1.2em;
  color: var(--color-primario-oscuro);
  background-color: rgb(254, 255, 228);
  padding: 0.75rem 1.5rem;
  border: 3px solid var(--color-contraste-primario);
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.btn-accion:hover {
  font-family: var(--texto);
  font-size: 1.2em;
  color: var(--color-primario-oscuro);
  background-color: var(--color-contraste-primario);
  padding: 0.75rem 1.5rem;
  border: 3px solid white;
}

#map {
  height: 450px;
  width: 60%;
  border-radius: 8px;
  border: 2px solid var(--color-contraste-primario-claro);
}

/* Estilos para la Sección del Mapa Interactivo */
.interactive-map {
  padding: 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interactive-map h2 {
  font-size: 2.7em;
  animation: slideInLeft 1s;
  font-family: var(--titulo);
  color: var(--color-contraste-primario);
  margin-bottom: 15px;
}
