/* Incorporar la tipografía personalizada */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  /* Variables de tipografía */
  --titulo: "Nunito", sans-serif;
  --texto: "Cantarell", sans-serif;
  /* Variables de color */
  --color-primario: #5b89c3;
  --color-primario-oscuro: #11446e;
  --color-primario-claro: #9adede;
  --color-contraste-primario: #ffec88;
  --color-contraste-primario-oscuro: #f2d47f;
  --color-contraste-primario-claro: #ffdc96;
}

* {
  margin: 0;
  padding: 0;
}

/* Estilo general del header */
.header {
  font-family: var(--texto);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
}

.logo {
  margin-top: 0.8em;
  margin-left: 2em;
  height: 7em;
  width: 125px;
  height: auto; /* Mantener la proporción del logo */
}

/* Estilos para el menú de hamburguesa */
.hamburger {
  display: none; /* Oculto por defecto */
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 0px;
  z-index: 1001;
  width: 30px;
  height: 17px;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger div {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.inicioRegistro {
  list-style: none;
  display: flex;
  margin-right: 15px;
}

.sesionIniciada {
  list-style: none;
  display: flex;
  margin-right: 15px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center; /* Centrar el menú en el espacio disponible */
  flex-grow: 1;
  margin: 0 20px; /* Añade margen lateral para separación */
  padding: 0;
}

.menu li {
  padding: 0 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  transition: border-bottom 0.1s ease;
}

.inicioRegistro li a {
  text-decoration: none;
  padding: 8px 15px;
}

.sesionIniciada li a {
  text-decoration: none;
  padding: 8px 15px;
}

.menu a:hover {
  border-bottom: 3px solid var(--color-contraste-primario-oscuro);
}

.iniciarSesion {
  padding-right: 15px;
}

.btnSesionIniciada {
  padding-right: 15px;
}


.iniciarSesion a {
  background-color: transparent;
  border: 2px solid var(--color-contraste-primario);
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease;
}
.btnSesionIniciada a {
  background-color: transparent;
  border: 2px solid var(--color-contraste-primario);
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease;
}

.iniciarSesion a:hover {
  background-color: var(--color-contraste-primario-oscuro);
  border: 2px solid white;
  color: black;
  cursor: pointer;
}

.btnSesionIniciada a:hover {
  background-color: var(--color-contraste-primario-oscuro);
  border: 2px solid white;
  color: black;
  cursor: pointer;
}

.registro a {
  background-color: var(--color-primario);
  border: 2px solid var(--color-primario);
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease;
}

.registro a:hover {
  background-color: var(--color-contraste-primario-oscuro);
  border: 2px solid white;
  color: black;
  cursor: pointer;
}

/* footer */

.footer {
  font-family: var(--texto);
  font-size: 20px;
  background: var(--color-primario);
  color: white;
  font-family: var(--texto);
  padding-top: 50px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.logoTexto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  border-radius: 10px;
  align-content: center;
  width: 9em;
  height: auto;
  margin-bottom: 1em;
}

.footer-text {
  margin-bottom: 1.5em;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials a {
  display: inline-block;
  margin: 0 0.5em;
  transition: transform 0.3s ease;
}

.socials a:hover {
  transform: translateY(-0.5em);
}

.rrss {
  border: 3px solid var(--color-contraste-primario);
  border-radius: 50%;
  width: 2em;
  height: auto;
}

.footer-section h2 {
  margin-bottom: 20px;
  font-family: var(--titulo);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul a {
  display: block;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  transition: background-color 0.3s;
}

.footer-section ul a:hover {
  background-color: var(--color-contraste-primario);
  color: black;
}

.contact-form p {
  padding: 0.5em;
}

.iconoFooter {
  width: 1em;
  height: auto;
  padding-right: 0.5em;
}

.footer-bottom p {
  background-color: var(--color-primario-oscuro);
  color: #cac8c8;
  font-family: var(--texto);
  text-align: center;
  padding: 1em 0;
  margin-bottom: 0px;
  font-size: 0.5em;
}

.footer-bottom a {
  color: #cac8c8;
  font-family: var(--texto);
  text-align: center;
  padding: 1em 0;
  font-size: 1em;
  margin-bottom: 0px;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: var(--color-contraste-primario-oscuro);
  transition: background-color 0.3s;
  margin-bottom: 0px;
}

@media screen and (max-width: 1096px) and (min-width: 576px) {
  .hamburger {
    display: flex; /* Mostrar hamburguesa en tablet */
    top: 5px;
  }

  .menu {
    display: none; /* Ocultar menú en tablet */
  }

  .header {
    justify-content: space-between;
  }

  .logo {
    margin: 1em 2em 0 2em; /* Ajustar margen del logo */
  }

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px; /* Ajustar según la altura del header */
    left: -110px;
    width: 100%;
    background-color: var(--color-primario);
    z-index: 1000;
    padding: 1em 0;
    box-sizing: border-box;
  }

  .iniciarSesion a,
  .registro a {
    white-space: nowrap;
  }

  .menu li {
    text-align: center;
    padding: 1em 0;
  }

  .inicioRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-right: 170px;
  }

  .inicioRegistro li, .sesionIniciada li {
    margin: 0 0.5em;
  }
  .sesionIniciada{
    display: flex;
    position: fixed;
    justify-content: center;
    align-self: center;
    margin-left: 250px;
    flex-grow: 1;
  }
  .btnSesionIniciada{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

@media screen and (max-width: 575px) {
  .hamburger {
    display: flex; /* Mostrar hamburguesa en móvil */
    top: 40px;
    right: 15px;
  }

  .menu {
    display: none; /* Ocultar menú en móvil */
  }

  .header {
    justify-content: space-between;
  }

  .logo {
    margin: 1em 1em 0 1em; /* Ajustar margen del logo */
    width: 100px;
  }

  .inicioRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }

  .iniciarSesion,
  .registro {
    text-align: center;
    margin: 1em;
    top: 50px;
    width: 50px;
    height: 50px;
  }

  .registro{
    margin-left: 40px;
  }

  .iniciarSesion a,
  .registro a, 
  .btnSesionIniciada a{
    padding: 0px 0px; /* Ajustar tamaño de los botones */
    font-size: 13px;
    white-space: nowrap;
  }

  .btnSesionIniciada{
    margin-left: 70px;
    text-align: center;
    margin-top: 20px;
    width: 50px;
    height: 50px;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px; /* Ajustar según la altura del header */
    left: -20px;
    width: 100%;
    background-color: var(--color-primario);
    z-index: 1001;
    padding: 1em 0;
  }

  .menu li {
    text-align: center;
    padding: 1em 0;
  }
}