/* Incorporar la tipografía personalizada */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  /* Variables de tipografía */
  --titulo: "Nunito", sans-serif;
  --texto: "Cantarell", sans-serif;
  /* Variables de color */
  --color-primario: #5b89c3;
  --color-primario-oscuro: #11446e;
  --color-primario-claro: #9adede;
  --color-contraste-primario: #ffec88;
  --color-contraste-primario-oscuro: #f2d47f;
  --color-contraste-primario-claro: #ffdc96;
}

body {
  font-family: var(--texto);
  margin: 0;
  padding: 0;
  background-color: var(--color-primario-oscuro);
}

.nosotros {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url(../archivos/nosotros/fondoNosotros2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* La imagen se adaptará al contenedor sin recortarse */
  color: white;
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  background: #5b8ac3e1;
  display: inline-block;
  margin-top: 50px;
  padding: 2rem;
  border-radius: 10px;
}

.hero h1 {
  font-family: var(--titulo);
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-family: var(--texto);
  font-size: 1.5rem;
}

.MVV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.MVV h1 {
  font-family: var(--titulo);
  border-bottom: 3px solid var(--color-primario);
  font-size: 2em;
  color: white;
}

.mision-vision-valores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 65px;
  gap: 65px;
  margin-top: 25px;
}

.mision,
.vision,
.valores {
  font-family: var(--texto);
  font-size: 1.2em;
  color: white;
  width: 30%;
  min-width: 250px;
  box-sizing: border-box;
}

.logoMisVisVal {
  background-color: var(--color-contraste-primario-oscuro);
  border-radius: 30%;
  padding: 10px;
  width: 70px;
  height: auto;
}

.datos-interactivos {
  margin-top: 60px;
}

.datos-interactivos h1 {
  font-family: var(--titulo);
  border-bottom: 3px solid var(--color-primario);
  display: inline-block; /* Hace que el borde solo ocupe el ancho del texto */
  font-size: 2rem;
  color: white;
}

.infografia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dato {
  margin: 1rem;
  padding: 1rem;
  background: var(--color-contraste-primario-claro);
  border-radius: 10px;
  width: 170px;
  text-align: center;
}

.dato h3 {
  font-family: var(--titulo);
  font-size: 2rem;
  margin: 0;
}

.dato p {
  font-family: var(--texto);
  font-size: 1rem;
  margin: 0;
}

.video-promocional {
  display: flex;
  flex-direction: column;
  margin: 25px 20px;
  gap: 5px;
  align-items: center;
}

.video-promocional h1 {
  font-family: var(--titulo);
  border-bottom: 3px solid var(--color-primario);
  font-size: 2em;
  color: white;
  margin-bottom: 20px;
}

.videoYtexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.videoyt {
  width: 750px;
  height: 380px;
  margin-right: 100px;
}

.txtVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 35%;
}

.txtVideo p {
  font-family: var(--texto);
  font-size: 1.2em;
  color: white;
  margin: 0;
}

.txtVideo a {
  font-family: var(--texto);
  font-size: 1.2em;
  color: var(--color-contraste-primario);
  margin: 0;
  text-decoration: none;
  margin-top: 15px;
}

.llamado-accion {
  text-align: center;
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--color-primario-claro);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-accion {
  font-family: var(--titulo);
  font-size: 2.4rem;
  color: var(--color-primario-oscuro);
  margin-bottom: 1rem;
}

.subtitulo-accion {
  font-family: var(--subtitulo);
  font-size: 1.3em;
  color: black;
  margin-bottom: 2rem;
}

.btn-accion {
  font-family: var(--texto);
  font-size: 1.2em;
  color: var(--color-primario-oscuro);
  background-color: rgb(254, 255, 228);
  padding: 0.75rem 1.5rem;
  border: 3px solid var(--color-contraste-primario);
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.btn-accion:hover {
  font-family: var(--texto);
  font-size: 1.2em;
  color: var(--color-primario-oscuro);
  background-color: var(--color-contraste-primario);
  padding: 0.75rem 1.5rem;
  border: 3px solid white;
}

/* tablet */
@media (max-width: 992px) {
  .videoYtexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .videoyt {
    width: 70%;
    height: 300px;
    margin-right: 0;
  }

  .txtVideo {
    width: 80%;
    text-align: center;
  }
  .infografia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

/* movil */
@media (max-width: 575px) {
  .videoYtexto {
    flex-direction: column;
  }

  .videoyt {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .txtVideo {
    width: 100%;
    text-align: center;
  }

  .infografia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
/* Media Query for smaller screens */
@media (max-width: 768px) {
  .mision-vision-valores {
    gap: 20px;
    padding: 0 20px;
  }

  .mision,
  .vision,
  .valores {
    width: 45%; /* Ajustar el ancho para que puedan caber dos en una fila en pantallas pequeñas */
    min-width: unset;
    text-align: center; /* Centra el texto dentro de cada sección */
  }

  .logoMisVisVal {
    width: 50px; /* Ajusta el tamaño del logo para pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .mision,
  .vision,
  .valores {
    width: 100%; /* Asegura que cada elemento ocupe el ancho completo en pantallas muy pequeñas */
  }
}
