/* Incorporar la tipografía personalizada */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  /* Variables de tipografía */
  --titulo: "Nunito", sans-serif;
  --texto: "Cantarell", sans-serif;
  /* Variables de color */
  --color-primario: #5b89c3;
  --color-primario-oscuro: #11446e;
  --color-primario-claro: #9adede;
  --color-contraste-primario: #ffec88;
  --color-contraste-primario-oscuro: #f2d47f;
  --color-contraste-primario-claro: #ffdc96;
}

body {
  font-family: var(--texto);
  margin: 0;
  padding: 0;
  background-color: var(--color-primario-oscuro);
}

.nosotros {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url(../archivos/nosotros/fondoNosotros.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  background: rgba(0, 0, 0, 0.542);
  display: inline-block;
  margin-top: 100px;
  padding: 2rem;
  border-radius: 10px;
}

.hero h1 {
  font-family: var(--titulo);
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-family: var(--texto);
  font-size: 1.5rem;
}

.MVV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.MVV h1 {
  font-family: var(--titulo);
  font-size: 2em;
  color: white;
}

.mision-vision-valores {
  padding: 0 65px;
  gap: 65px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.mision {
  font-family: var(--texto);
  font-size: 1.2em;
  color: white;
  width: 33%;
}

.vision {
  font-family: var(--texto);
  font-size: 1.2em;
  color: white;
  width: 33%;
}

.valores {
  font-family: var(--texto);
  font-size: 1.2em;
  color: white;
  width: 33%;
}

.logoMisVisVal {
  background-color: var(--color-contraste-primario-oscuro);
  border-radius: 30%;
  padding: 10px;
  width: 70px;
  height: auto;
}

.datos-interactivos {
  margin-top: 60px;
}

.datos-interactivos h2 {
  font-family: var(--titulo);
  font-size: 2rem;
  color: white;
}

.infografia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dato {
  margin: 1rem;
  padding: 1rem;
  background: var(--color-contraste-primario-claro);
  border-radius: 10px;
  width: 170px;
  text-align: center;
}

.dato h3 {
  font-family: var(--titulo);
  font-size: 2rem;
  margin: 0;
}

.dato p {
  font-family: var(--texto);
  font-size: 1rem;
  margin: 0;
}

.video-promocional {
  margin: 2rem 0;
}

.video-promocional video {
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
}

.llamado-accion {
  margin: 2rem 0;
  padding: 2rem;
  background: var(--color-primario-claro);
  color: black;
}

.llamado-accion p {
  font-family: var(--texto);
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.btn-accion {
  background: var(--color-contraste-primario);
  color: #333;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
