/* Incorporar la tipografía personalizada */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  /* Variables de tipografía */
  --titulo: "Nunito", sans-serif;
  --texto: "Cantarell", sans-serif;
  /* Variables de color */
  --color-primario: #5b89c3;
  --color-primario-oscuro: #11446e;
  --color-primario-claro: #9adede;
  --color-contraste-primario: #ffec88;
  --color-contraste-primario-oscuro: #f2d47f;
  --color-contraste-primario-claro: #ffdc96;
}

/* Estilos generales para el cuerpo de la página */

.miCuenta {
  height: auto;
  background-color: var(--color-primario-oscuro);
}

main {
  font-family: var(--texto);
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 35px;
  margin-bottom: 50px;
}

.bienvenido {
  text-align: center;
  font-family: var(--titulo);
  margin-bottom: 1em;
  color: white;
}

/* Estilos para el menú lateral */
#menu2 {
  background-color: var(--color-primario);
  color: white;
  min-width: 200px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-family: var(--texto);
  font-size: 1.3em;
  height: fit-content;
  border-radius: 0 8px 8px 0;
}

#menu2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu2 li {
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 0.7em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#menu2 li:hover {
  background-color: var(--color-contraste-primario);
  border-radius: 5px;
  color: black;
}

.icon {
  margin-right: 8px;
}

/* Estilos para el contenedor de contenido */
#contenido {
  flex-grow: 1;
  padding: 0 20px 0 20px;
  background-color: #f4f4f400;
  overflow-y: auto;
}

.seccion {
  display: none; /* Inicialmente oculto, se mostrará mediante JavaScript */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 100%; /* Adaptar al tamaño de la pantalla */
  max-width: 1100px; /* Limitar el tamaño máximo */
  margin-left: 80px;
}

.seccion h1 {
  color: var(--azulQQ);
  margin-bottom: 0.5em;
}
.iconoMenu {
  padding: 5px 0;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: auto;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--titulo);
  font-size: 1.2em;
  height: 450px;
}

.foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.fotoPerfil {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

#btnSeleccionarFoto {
  display: none;
  font-family: var(--texto);
  font-size: 1em;
  color: black;
  background-color: #ffffff00;
  border: none;
  border-bottom: 1px solid transparent; /* Añade un borde transparente inicialmente */
  cursor: pointer;
  transition: border-bottom 0.1s ease-in-out;
}

#btnSeleccionarFoto:hover {
  border-bottom: 1px solid var(--color-contraste-primario); /* Cambia sólo el color del borde al hacer hover */
  color: black;
  cursor: pointer;
}

.datos {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fila,
.fila2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.campo {
  flex: 1 1 20%; /* Permite que cada campo se expanda y se ajuste */
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.campo label {
  margin-bottom: 5px;
  font-family: var(--titulo);
}

.campo input {
  width: 100%;
  height: 1.5em;
  font-family: var(--texto);
  font-size: 0.8em;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid gray;
  outline: none;
  transition: border-bottom 0.1s ease-in-out;
}

.campo input:focus {
  border-bottom: 1.7px solid var(--color-primario-claro);
  box-shadow: 0 1px 0 0 var(--color-primario-claro);
}
/* Estilos CSS */
.acciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuye el espacio entre los botones */
}

.acciones button {
  background-color: var(--color-primario);
  border: 2px solid var(--color-primario);
  border-radius: 5px;
  color: white;
  min-width: 120px;
  height: auto;
  font-size: 1em;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-grow: 1;
}

.acciones button:hover {
  background-color: var(--color-contraste-primario);
  border: 2px solid var(--color-contraste-primario-oscuro);
  color: black;
  cursor: pointer;
}

/* tickets */

.tickets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ticket {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  position: relative;
}

.ticket-pasado::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.ticket-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.ticket-info {
  padding: 10px;
  background-color: #fff;
  z-index: 2;
  position: relative;
}

.ticket-info h2,
.ticket-info p {
  margin: 0;
  padding: 5px 0;
}

.filter-buttons {
  margin-bottom: 20px;
  text-align: center;
}

.filter-buttons button {
  background-color: var(--color-primario);
  font-family: var(--texto);
  font-size: 1em;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.filter-buttons button:hover {
  background-color: var(--color-primario-oscuro);
}

/* Estilos generales para el calendario */

#calendar {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: fit-content;
  font-family: var(--texto); /* Aplica la tipografía personalizada */
}

/* Encabezado del calendario */
.fc-toolbar {
  background-color: var(--color-contraste-primario);
  border-radius: 5px;
  padding: 10px;
}

.fc-toolbar h2 {
  color: var(--color-primario);
  font-family: var(--titulo);
  font-size: 2em;
}

.fc-button {
  border: none;
  color: #ffffff;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--texto); /* Aplica la tipografía personalizada */
}

.fc-button:hover {
  background-color: var(--color-primario);
  font-family: var(--texto);
}

.fc-button:focus {
  outline: none;
}

/* Día de la semana */
.fc-day-header {
  background-color: var(--color-primario);
  color: var(--color-contraste-primario);
  padding: 10px;
  border: 1px solid #ddd;
  font-family: var(--texto); /* Aplica la tipografía personalizada */
}

/* Día actual */
.fc-day-today {
  background-color: var(--color-contraste-primario-claro);
}

/* Eventos */
.fc-event {
  background-color: var(--color-primario);
  border: none;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--texto); /* Aplica la tipografía personalizada */
  position: relative;
}

.fc-event:hover {
  background-color: var(--color-primario-claro);
}

/* Tooltip para eventos */
.fc-event .tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
}

.fc-event:hover .tooltip {
  display: block;
}

.btnVer {
  margin-top: 15px;
  padding: 5px 10px;
  font-family: var(--texto);
  border-radius: 5px;
  font-size: 1.2em;
  background-color: var(--color-primario);
  color: white;
  border: 1px solid var(--color-primario);
}

.btnVer:hover {
  background-color: var(--color-contraste-primario);
  color: black;
  border: 1px solid var(--color-primario-claro);
  cursor: pointer;
}

.btnVer:disabled {
  background-color: grey;
  color: rgb(215, 215, 215);
  border: none;
  cursor: default;
}

.custom-swal-title {
  font-family: var(--titulo);
}

.custom-swal-content {
  font-family: var(--titulo);
}

.custom-swal-confirm {
  font-family: var(--titulo);
}

.custom-swal-cancel {
  font-family: var(--titulo);
}

.swal2-popup .swal2-title,
.swal2-popup .swal2-content,
.swal2-popup .swal2-confirm,
.swal2-popup .swal2-cancel {
  font-family: var(--titulo);
}

.swal2-html-container {
  font-family: var(--titulo);
}

/* tablet y movil */
@media (max-width: 1483px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  #menu2 {
    display: flex;
    justify-content: center;
    width: 80%;
    top: 0;
    left: 0;
    background-color: var(--color-primario);
    z-index: 1000;
    padding: 10px 0;
    border-radius: 8px;
  }

  #menu2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #menu2 li {
    flex: 1;
    margin: 0;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border-right: 1px solid #ccc;
  }

  #menu2 li:last-child {
    border-right: none;
  }

  #contenido {
    margin-top: 70px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seccion {
    display: block;
    width: 100%;
    max-width: 900px; /* Ajustar para pantallas de tamaño mediano */
    margin: 20px 0;
    padding: 10px;
  }
}

/* Media Query para 575px */
@media (max-width: 1075px) {
  #menu2 ul {
    flex-direction: column;
    justify-content: center;
    z-index: -1000;
  }

  #menu2 li {
    flex: none;
    margin: 5px 0;
    border-right: none;
    z-index: -1000;
  }

  #contenido {
    margin-top: 80px; /* Ajustar según la altura del menú */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seccion {
    display: block;
    width: 80%;
    max-width: 100%; /* Para pantallas muy pequeñas */
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    height: 900px; /* Altura mínima para evitar doble scroll, considerando el menú fijo */
  }

  #tickets {
    height: fit-content;
  }

  #calendario {
    height: fit-content;
  }

  .fila,
  .fila2 {
    flex-direction: column;
  }

  .campo {
    width: 90%;
    margin-bottom: 10px;
  }

  .perfil {
    padding: 10px;
  }
}
