/* Incorporar la tipografía personalizada */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  /* Variables de tipografía */
  --titulo: "Nunito", sans-serif;
  --texto: "Cantarell", sans-serif;
  /* Variables de color */
  --color-primario: #5b89c3;
  --color-primario-oscuro: #11446e;
  --color-primario-claro: #9adede;
  --color-contraste-primario: #ffec88;
  --color-contraste-primario-oscuro: #f2d47f;
  --color-contraste-primario-claro: #ffdc96;
}

/* Estilos generales para el cuerpo de la página */

.miCuenta {
  height: auto;
  background-color: var(--color-primario-oscuro);
}

main {
  font-family: var(--texto);
  margin: 0;
  padding: 0;
  display: flex;
  height: 80vh;
}

.bienvenido {
  text-align: center;
  font-family: var(--titulo);
  margin-bottom: 1em;
}

/* Estilos para el menú lateral */
#menu2 {
  background-color: var(--color-primario);
  color: white;
  width: 200px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-family: var(--texto);
  font-size: 1.3em;
  height: 500px;
}

#menu2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu2 li {
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 0.7em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#menu2 li:hover {
  background-color: var(--color-contraste-primario);
  border-radius: 5px;
  color: black;
}

.iconoMenu {
  padding: 5px 0;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: auto;
}

/* Estilos para el contenedor de contenido */
#contenido {
  flex-grow: 1;
  padding: 0 20px 0 20px;
  background-color: #f4f4f400;
  overflow-y: auto;
}

.seccion {
  display: none; /* Inicialmente oculto, se mostrará mediante JavaScript */
  padding: 20px;
  background-color: white;
}

.seccion h1 {
  color: var(--azulQQ);
  margin-bottom: 0.5em;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--titulo);
  font-size: 1.2em;
}

.foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.fotoPerfil {
  max-width: 125px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

#btnSeleccionarFoto {
  display: none;
  font-family: var(--texto);
  font-size: 1em;
  color: black;
  background-color: #ffffff00;
  border: none;
  border-bottom: 1px solid transparent; /* Añade un borde transparente inicialmente */
  cursor: pointer;
  transition: border-bottom 0.1s ease-in-out;
}

#btnSeleccionarFoto:hover {
  border-bottom: 1px solid var(--color-contraste-primario); /* Cambia sólo el color del borde al hacer hover */
  color: black;
  cursor: pointer;
}

.datos {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
}

.campo {
  flex: 1; /* Permite que cada campo se expanda equitativamente */
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.campo label {
  margin-bottom: 5px;
  font-family: var(--titulo);
}

.campo input {
  width: 100%;
  height: 1.5em;
  font-family: var(--texto);
  font-size: 0.8em;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid gray;
  outline: none;
  transition: border-bottom 0.1s ease-in-out;
}

.campo input:focus {
  border-bottom: 1.7px solid var(--color-primario-claro);
  box-shadow: 0 1px 0 0 var(--color-primario-claro);
}
/* Estilos CSS */
.acciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuye el espacio entre los botones */
}

.acciones button {
  background-color: var(--color-primario);
  border: 2px solid var(--color-primario);
  border-radius: 5px;
  color: white;
  min-width: 120px;
  height: auto;
  font-size: 1em;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-grow: 1;
}

.acciones button:hover {
  background-color: var(--color-contraste-primario);
  border: 2px solid var(--color-contraste-primario-oscuro);
  color: black;
  cursor: pointer;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos hijos horizontalmente */
  width: 70%;
  font-family: var(--titulo);
  font-size: 1.2em;
  margin: 0 auto; /* Centra el bloque '.contacto' en el centro horizontalmente */
  padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
}

.campoContacto {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 100%; /* Asegura que el campo ocupa el espacio disponible */
  margin-bottom: 10px; /* Espacio entre los campos */
}

.campoContacto label,
.campoContacto input,
.campoContacto textarea {
  align-self: flex-start; /* Alinea los elementos al inicio del eje transversal */
}

.campoContacto label {
  margin-bottom: 5px;
  font-family: var(--titulo);
}

.campoContacto input,
.campoContacto textarea {
  width: 100%;
  font-family: var(--texto);
  font-size: 0.8em;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid gray;
  outline: none;
  transition: border-bottom 0.1s ease-in-out;
}

.campoContacto input {
  height: 1.5em; /* Altura específica para input */
}

.campoContacto textarea {
  height: 50px; /* Tamaño fijo para textarea */
  resize: none; /* Impide que el usuario cambie el tamaño */
}

.campoContacto input:focus,
.campoContacto textarea:focus {
  border-bottom: 1.7px solid var(--color-primario);
  box-shadow: 0 1px 0 0 var(--color-primario);
}

.btnEnviar {
  background-color: var(--color-primario);
  border: 2px solid var(--color-primario);
  border-radius: 5px;
  color: white;
  min-width: 120px;
  height: auto;
  font-size: 1em;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.btnEnviar:hover {
  background-color: var(--color-contraste-primario);
  border: 2px solid var(--color-contraste-primario-oscuro);
  color: black;
  cursor: pointer;
}
