/* Incorporar la tipografía personalizada */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  /* Variables de tipografía */
  --titulo: "Nunito", sans-serif;
  --texto: "Cantarell", sans-serif;
  /* Variables de color */
  --color-primario: #5b89c3;
  --color-primario-oscuro: #11446e;
  --color-primario-claro: #9adede;
  --color-contraste-primario: #ffec88;
  --color-contraste-primario-oscuro: #f2d47f;
  --color-contraste-primario-claro: #ffdc96;
}


.card-body{
  background-color: var(--color-primario-claro);
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-outline-secondary {
  color: var(--color-primario-oscuro)!important;
  border-color: var(--color-primario-oscuro)!important;
  background-color: var(--color-contraste-primario-claro)!important;
}

.btn-outline-secondary:hover {
  background-color: var(--color-primario-oscuro)!important;
  color: #fff!important;
  border-color: var(--color-primario-oscuro);
}
@media (max-width: 768px) {
  .card-body {
    padding: 10px;
  }
}